<div class="login-page">
  <div class="login-image-div"></div>
  <div class="login-info">

    <div class="logo-div">
      <a href="http://localhost:4200/products"
        ><img class="logo" src="../../../assets/logo.png" alt="logo-shop"
      /></a>
    </div>
    <h2>Log in</h2>

    <form class="form-style" [formGroup]="userForm" (ngSubmit)="save()">
      <div class="info-div">
        <label>Email</label>
        <input class="input-style" type="email" formControlName="email" />
      </div>

      <div class="info-div">
        <label>Password</label>
        <input class="input-style" type="password" formControlName="password" />
      </div>

      <button class="button-style" type="submit" [disabled]="userForm.invalid">
        Send
      </button>
    </form>
  </div>
</div>



