@font-face {
  font-family: "Sora Bold";
  src: url(../../../assets//fonts/Sora-Bold.otf);
}

.main-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
}

.main-content {
  width: 400px;
  margin: 10px;
}

.header-detail {
  width: 100%;
  background-image: url(../../../assets/texture-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 150px;
}

.product-sneaker-image {
  width: 100%;
  object-fit: cover;
}

.logo {
  width: 200px;
}

.logo-div {
  width: 20%;
  margin-left: 140px;
}

.h2-style {
  font-family: "Sora Bold";
  font-size: 30px;
  padding-bottom: 10px;
}

.p-description{
  font-family: "Sora Regular";
  font-size: 15px;
  padding-bottom: 10px;
}

.p-price{
  font-family: "Sora Bold";
  font-size: 20px;
  padding-bottom: 10px;
}

.button-style {
  background-color: #fe4c58;
  color: white;
  width: 80px;
  height: 15px;
  font-family: "Sora Bold";
  border-radius: 20px;
  font-size: 10px;
}