<header class="header-detail">
    <div class="logo-div">
      <a href="http://localhost:4200/products"><img class="logo" src="../../../assets//logo-white.png" alt="logo" /></a>
</div>
</header>

<div class="main-product">
  <div class="main-content">
    <img
      class="product-sneaker-image"
      src="{{ product?.image }}"
      alt="sneaker-image"
    />
  </div>
  <div class="main-content">
    <h2 class="h2-style">{{ product?.title }}</h2>
    <p class="p-description">{{ product?.description }}</p>
    <p class="p-price">{{ product?.price }}€</p>
    <button class="button-style">Add to cart</button>
  </div>



</div>
